* {
  box-sizing: border-box;
}
body {
  font-family: 'Stardos Stencil', cursive;
  background-color: #219f9c;
  text-align: center;

}
header {
  width: 80vw;
  margin: 25px auto;
  padding: 0 25px;
}
main {
  width: 75vw;
  margin: 25px auto;
  background-color: transparent;
  display: flow-root;
}
.col {
  width: 50%;
  background-color: transparent;
  float: left;
}

h1 {
  font-size: 3rem;
}
li {
  font-size: 1.5rem;
  line-height: 1rem;
  margin-bottom: 10px;
  text-align: center;
  align-items: center;
  letter-spacing: 1px;
  font-weight: 600;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a:link {
  color: white;
  text-decoration: none;
}

img {
  max-width: 100%;
}


head {
  color: white
}

h1{

  color: Grey;
  font-size: 5rem;
  text-align: center;
  font-weight: 700;
}
h2{

  color: Grey;
  font-size: 3.5rem;
  text-align: center;
  font-weight: 600;

}

#title {
  position: absolute;
  top: 40%;
  left: 0;
  right:0;
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 8px;
  margin-top:40px;
  padding-left: 10px;
}

#title span{
    background-clip: -webkit-linear-gradient(white. #38495a);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

a:link {
  color: #F7CD28;
}
a:visited {
  color: #D291BC;
}
a:hover {
  color: Grey;
}
a:active {
  color: Grey
}
p {
  text-align: center;
}
@media screen and (max-width: 800px) {
  .col {
    width: 100%;
    margin-bottom: 50px;
  }
}
