.images {
  position: relative;
  width: 100% /* for IE 6 */
}

h2, h3, h4, h5  {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%
}

h2, h3, h4, h5 span {
  color:white;
  font: bold 24px/45px Helvetica, sans-serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

h2, h3, h4, h5 span.apcer {
  padding:0 5px
  
}
