*{
  margin: 50px;
  padding: 0;
  box-sizing: border-box;
}
body {
    background: linear-gradient(0.25turn, #49BEB7 30%, #FF5959 30%);
    font-family: 'Homemade Apple', cursive;
}
h1 {
    color: #3a2e39;
    font-size:85px;
text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}
h2 {
    color: #085f63;
    font-size: 35px;
    text-transform: uppercase;
    margin-top: 0;
}
p {
   color: ##003366;
   font-size: 90px;
   font-family: font-family: 'Homemade Apple', cursive;
    letter-spacing: .5px;
    margin-top: 0;
}
a {
  text-decoration: none;
}
a:link {
  color: #085f63;
}
a:visited {
   color: #260c26;
}
a:hover {
  color:paleturquoise
}
a:active {
  color:paleturquoise
}
