body {
    background: linear-gradient(0.25turn, #49BEB7 30%, #FF5959 30%);
}
h1 {
    color: #3a2e39;
    font-size:85px;
text-transform: uppercase;
}
h2 {
    color: #facf5a;
    font-size: 35px;
    text-transform: uppercase;
}
p {
   color: ##003366;
   font-size: 90px;
   font-family: "Snell Roundhand", bold, script;
    letter-spacing: .5px;
}
a {
  text-decoration: none;
}
a:link {
  color: #085f63;
}
