* {
  box-sixing: border-box;
}
body {
  margin: 0;
  background-color: #92A5C0;
}
.board {
  width: 820px;
  display: flow-root;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px auto 0;

}
.red, .black {
  width: 100px;
  height: 100px;
  float: left;
}
.red {
  background-color: #292B68;
}
.black {
  background-color: #12142A;
}
/*column grid */
.frame {
  width: 950px;
  display: flow-root;
  margin: 50px auto 0;
}
.header, .mainbox, .column, .footer {
  float: left;
}
.header {
  background-color: #12142A;
  height: 90px;
  width: 900px;
  margin-bottom: 10px;
}
.mainbox {
  background-color: #5A86AB;
  height: 20px;
  width: 900px;
  margin-bottom: 10px;
}
.column {
  background-color: #292B68;
  width: 293px;
  height: 900px;
  margin-right: 10px;
}
.footer {
  background-color: #5A86AB;
  height: 90px;
  width: 900px;
  margin-top: 10px;
  margin-bottom: 50px;
}
/* blog layout */
.holder {
  width:820px;
  display: flow-root;
  margin: 50px auto 0;
}
.head, .main, .links, .abajo, .divide {
   float: left;
}
.head {
  background-color: #12142A;
  height: 180px;
  width: 800px;
  margin-bottom: 100px;
}
.main {
  background-color: #292B68;
  height: 480px;
  width: 630px;
  margin-bottom: 15px;
}
.abajo {
  width: 640px;
  height: 50px;
  margin: 0px auto;
  border-color: #12142A;
  border: 5px; 0px; solid white;
  float: left;
}
.links {
  background-color: #314C6E;
  height: 220px;
  width: 160px;
  margin-left: 15px;
}
.divide {
  height: 40px;
  width: 620px;
  margin-top: -45px;
  margin-bottom: 100px;
  background-color: #5A86AB;
  border: 5px solid #5A86AB;

}
