* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
}
main {
  width: 130vw;
  margin: -50px -15vw;
}

#p1 .shape1 {
  background-color: red;
  width: 150px;
  height: 200px;
  margin: -15px;
  float: left;
  opacity: .5;
  border: 5px solid navy;
  border-radius: 50px;

}
#p1 .shape2 {
  background-color: blue;
  width: 100px;
  height: 200px;
  margin: -5px 5.5px;
  float: left;
  transform: rotate(30deg);
  opacity: .5;
}
#p1 .shape3 {
  background-color: yellow;
  width: 50px;
  height: 200px;
  margin: -15px -7.5px;
  float: left;

}
#p2 .shape1 {
  background-color: #6a3a4f;
  width: 0px;
  height: 0px;
  margin: -15px -7.5px;
  float:left;
  opacity: .5;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #c77a8c;
}
#p2 .shape2 {
  background-color:;
  width: 0px;
  height: 0px;
  margin -15px -9.5px;
  float: left;
  opacity: .8;
  transform: rotate rotate(25deg);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #745582;

}
#p2 .shape7 {
  background-color:;
  width: 0;
  height: 0;
  margin: -15px -3.50px;
  float: left;
  opacity: .3px;
  transform: skewX(25deg);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #dab6c2;
}
#p3 .shape1 {
  background-color: #92A5C0;
}
#p3 .shape3 {
  background-color: #5A86AB;
  border-radius: 50%;
  border: 20px solid;
  border-color: #fffa86;
}
#p3 .shape3 {
  background-color: #292B68;

}

#p4 .shape12 {
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid yellow;
  border-left: 60px solid yellow;
  border-bottom: 60px solid yellow;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  float: left;
}
#p4 .shape13 {
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid red;
  border-left: 60px solid red;
  border-bottom: 60px solid red;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  opacity: .5;
  float: left;
}
#p4 .shape14 {
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid blue;
  border-left: 60px solid blue;
  border-bottom: 60px solid blue;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  float: left;
}
#p4 .shape15 {
  background-color: yellow;
  width: 25px;
  height: 50px;
  margin: 36px;
  border-radius: 20%;
  border: 10px solid;
  border-color: black;
  float: left;
  transform: rotate(-90deg);
}
#p5 .shape16 {
  width:0px;
  height: 0px;
  border-top: 100px solid blue;
  border-left: 100px solid transparent;

}
