html{
  background-color: #8a6a83;

}

body {
  background-color: #FFDFD3
  margin: 50%
  padding: 100px;
}

h1, h2, h4 {
  font-family: 'Linden Hill', serif;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5'
}

h1 {
  font-size: 65px;
  text-align: center;
  margin-bottom: 0;
}

h4 {
  text-align: center;
  margin-bottom: 0;

}

.sectiontwo{
  padding: 15px 0 15px 0;
}

ul {
  font-family: 'Roboto', sans-serif;
  line-height: normal;

}

p {
  font-size: 20px;
  text-align: left;
}
