html{
  background-color: #8a6a83;

}

body {
  background-color: #FFDFD3
  margin: 4% 20% 0 20%
  padding: 100px;
}

h1, h2, h4 {
  font-family: 'Linden Hill', serif;
  font-weight: bold;
}

h1 {
  font-size: 65px;
  text-align: center;
}

h4 {
  text-align: center;

}

.sectiontwo{
  padding: 15px 0 15px 0;
}

ul {
  font-family: 'Roboto', sans-serif;
  line-height: normal;

}

p {
  font-size: 20px;
  text-align: align left;
}
