html{
  background-color: #431039;

}

body {
  background-color: #FFDFD3
  magin: 4% 15% 0 15%
  padding: 100px;
}

h1, h2, h4 {
  font-family: 'Linden Hill', serif;
  font-weight: bold;
}

h1 {
  font-size: 65px;
  text-align: center;
}

h4 {
  text-align: center;

}

hr {
  boarder:2px #FFDFD3
  width: 250px;
  align-content: center;
  
}

ul {
  line-height: 1.2;
}

p {
  font-size: 20px;
  text-align: align left;
}
