* {
  box-sizing: border-box;
}
body {
  margin:0;
  padding: 0;
  background-color: #301034;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%; -50%);
}
.skull {
  position: absolute;
  width: 300px;
  height: 300px;
  background: #D8d1C0;
  border-radius: 50%;
}

.eye-right {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #191A1A;
  border-radius: 50%;
  transform: translate(305%, -160%);
  z-index: 1;

}
.eye-left {
  position: absolute;
  width:60px;
  height: 60px;
  background: #191A1A;
  border-radius: 50%;
  transform: translate(105%, -160%);
  z-index: 1;
}

.jaw {
  width:210px;
  height: 210px;
  background: #D8D1C0;
  border-radius: 50%;
  transform: translate(25%, 80%);
}

.nose {
  position: absolute;
  width: 45px;
  height: 40px;
  background: grey;
  border-radius: 50% 50% 25% 25%;
  transform: translate(150%, 180%);
}
.mouth {
  position: absolute;
  width: 90px;
  height: 25px;
  background: #191A1A;
  border-radius: 30%;
  transform: translate(54%, 670%);
}
